name: bmi_calculator
description: A new Flutter application.

version: 1.0.0+1

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^0.1.2
  syncfusion_flutter_sliders: ^20.1.60
  font_awesome_flutter: ^10.1.0
  syncfusion_flutter_gauges: ^20.1.60
dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
